{% extends "ForestSN/_base.html" %}

{% block styles %}

{% load static %}
<link href="https://fonts.googleapis.com/css?family=Skranji" rel="stylesheet">
<link href="{% static 'ForestSN/index.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100 justify-content-center text-center">
        <div class="col h-100 d-flex align-self-center justify-content-center align-items-center" style="background-color: #0C4B33;">
            <h1 style="color: #51BE95; font-size: 102pt; font-family: 'Skranji', cursive;">4Rest</h1>
        </div>
        <div class="col align-self-center text-center d-flex flex-column align-items-center">
                <a class="btn btn-primary w-25" href="/login?next=/me/" style="margin: 2px">Log in</a>
                <a class="btn btn-outline-secondary w-25" href="/signup?next=/me/">Sign in</a>
        </div>
    </div>
</div>
{% endblock content %}